.mainpage-image {
  background-size: cover;
  grid-column: 2/4;
  border: 1px solid black;
  position: relative;

  .carousel-btn {
    background-color: rgba(255, 255, 255, 0.103);
    border: none;
    height: 60px;
    width: 40px;
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    .carousel-btn-icon {
      height: 24px;
      width: 24px;
      stroke: #000000;
    }

    &:hover {
      background-color: rgb(230, 230, 230);
    }

    
  }

  .carousel-btn-left {
    /* in relation to PARENT element */
    left:0;
    /* in relation to element ITSELF */
    transform: translate(0,-50%);
    // box-shadow:0 12px 24px rgba(0, 0, 0, 0.30);
  }

  .carousel-btn-right {
    right:0;
    transform: translate(0,-50%);
    // box-shadow:0 12px 24px rgba(0, 0, 0, 0.30); 
  }

  .dots {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -10px);
  display: flex;
  gap: 5px;

    .dot {
      height: 5px;
      width: 24px;
      background-color: white;
      // border: 2px solid #087f5b;
      border: none;
      cursor: pointer;
    }

    .dot--fill {
      background-color: #686868;
    }

  }

}
