.menu-item2 {
  height: 300px;
  border: 1px solid black;
  cursor: pointer;

  .background-image2 {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }
}