* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  src: local('Rubik'), url('./assets/fonts/Rubik-Light.woff2') format('woff2');
  }

body {
  margin: 0;
  font-family: 'Rubik',sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


